.mg1 {
  margin: 10px 10px 10px 10px;
}

.mg {
  margin-top: 20px;
}

.float {
  background-color: orange;
  border-radius: 15px !important;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;

  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}